<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>{{page_title}}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css" media="screen"/>
</head>
<body>
    <div class="curtain">
        <div class="curtain-title">
            {{title}}
        </div>
        <div class="curtain-subtitle">
            {{subtitle}}
        </div>
        {{#if has_button}}
        <div class="btn">
            <a href="\login" class="btn-primary">{{button_text}}</a>
        </div>
        {{/if}}
    </div>
</body>
</html>
