<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>{{page_title}}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css" media="screen">
<!--    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">-->
    <!-- all the needed javascript is in index.js -->
    <script src="static/index.js"> </script>
</head>

<body>
    <div class="curtain">
        <div class="curtain-title">
            {{title}}
        </div>
        <div class="logo">
            <img src="static/new_logo_music_note.png" class="curtain-icon">
        </div>
        {{#if login_button}}
        <div class="btn">
            <a href="/login" class="login-button">LOGIN TO SPOTIFY</a>
        </div>
        {{/if}}
    </div>
</body>

</html>