<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>{{page_title}}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css" media="screen"/>
</head>
<body>
    <div class="image_view">
        <div class="curtain-title">
            {{label}}
        </div>
        <div class="image">
            <img 
            src={{image}}
            alt={{image}}
            height="100" />
        </div>
    </div>
</body>
</html>
