<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>404</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css" media="screen">
</head>

<body>
<div class="curtain">
    <div class="curtain-title">
        404 Error.
    </div>
    <div class="curtain-logo">
        <img src="static/new_logo_music_note.png" class="p404-icon">
    </div>
    <div class="curtain-subtitle">
        {{destination}} doesn't seem to exist.
    </div>
</div>
</body>

</html>