<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Redirecting</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css" media="screen">
</head>

<body>
<div class="curtain">
    <div class="curtain-title">
        Redirecting to <a href={{destination}}>{{destination}}</a>.
    </div>
    <div class="curtain-logo">
        <img src="static/new_logo_music_note.png" class=left>
    </div>
</div>
</body>

</html>